In [8]:
from sklearn.linear_model import LinearRegression
from sklearn.model_selection import train_test_split
import numpy as np
import pandas as pd

In [9]:
df = pd.read_csv(r'C:\Users\hrcoo\Desktop\Esate-Price\Estate Price Prediction\data\mumbai_cleaned.csv')
df.head()

        price    area  Bedrooms  Bathrooms  Furnished_status
0  22400000.0   629.0         2          2                 1
1  35000000.0   974.0         3          2                 1
2  31700000.0   968.0         3          3                 1
3  18700000.0   629.0         2          2                 1
4  13500000.0  1090.0         2          2                 1

In [10]:
target_column = df['price']
features = df.drop('price', axis=1)

In [11]:

# Split the data into training and test sets
X_train, X_test, y_train, y_test = train_test_split(features, target_column, test_size=0.18, random_state=42)

# Print the shapes of the training and test sets
print("Training set shape:", X_train.shape)
print("Test set shape:", X_test.shape)

Training set shape: (4883, 4)
Test set shape: (1073, 4)